.container {
  align-content: center;
  margin-top: 7rem;
}

.firstContainer {
  display: flex;
  gap: 2rem;
}

.secondContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;

  margin-top: 8rem;
}
.textContainer {
  flex: 1;
}

.imgContainer {
  flex: 1;
  position: relative;

  height: 500px;
  max-width: 600px;
}
.img2Container {
  position: relative;
  order: 2;
  height: 500px;
  max-width: 1000px;
  padding: 0 auto;
}

.imgContainerImage {
  border-radius: 100px 40px 60px 0;
  max-width: 1000px;

  object-fit: cover;
  margin: 0 auto;
  align-self: center;
}

.title {
  color: var(--btn);

  font-size: 3.8rem;
  order: 1;
  margin-bottom: 1rem;
}
.text {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  order: 2;
  line-height: 1.4;
  max-width: 600px;
}

.text2 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  order: 5;
  line-height: 1.4;
}

.title2 {
  color: var(--btn);
  font-size: 3.8rem;
  order: 4;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.title3 {
  color: var(--btn);
  font-size: 3.8rem;
  order: 5;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
.title4 {
  color: var(--btn);
  font-size: 3.8rem;
  order: 8;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.text3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  order: 6;
  line-height: 1.4;
  max-width: 1000px;
}

.text4 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  order: 7;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .firstContainer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .text {
    font-size: 2.5rem;
  }

  .textContainer {
    align-self: center;
  }
}
