.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  background-color: var(--bgSoft);
}

.img {
  object-fit: cover;
  border-radius: 30%;
  width: 100%;
  height: 100%;
}

.imgText {
  color: var(--btn);
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.textContainer {
  flex: 1;
  gap: 10px;
  max-width: 900px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    width: 400px;
    height: 400px;
  }

  .title {
    margin-bottom: 1rem;
  }
  .text {
    font-size: 1.8rem;
  }
}
