/* contact.module.css */

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 60%; /* Adjust the width as needed */
}

.container label {
  font-size: 1.2rem;
}

.container input,
.container textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  padding: 10px;
}

.sendButton {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  /* Adjust styles for larger screens if needed */
  .container {
    width: 80%;
  }
}
