.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  height: 30px;
  width: 30px;
}

.avatar {
  border-radius: 50%;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
}

.username {
  font-weight: 500;
  font-size: 1.2rem;
}
