.container {
  margin-bottom: 7rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logoimage {
  border-radius: 12px;
}
