.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 10rem;
  align-items: center;
  color: gray;
  margin-top: 7rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoimage {
  border-radius: 12px;
}

.text {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
